@model TrueCodeTraining.DbModel.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_account.cshtml";
}


@{
    ViewBag.Title = "Index";
}

<div class="row justify-content-center mb-5">  
    <div class="col-sm-4 p-0 rounded-2" style="box-shadow:0px 0px 2px 0px gray;background-color:white;">
        <h4 class="text-center text-bg-primary w-100 rounded-top">Register Here !</h4>
        <div class="row p-4 pt-4 pb-0">
            <form method="post" action="/account/AddUser">
                @Html.ValidationSummary()
                <div class="mb-4">
                    <input type="text"   placeholder="Enter your First Name" autocomplete="off" class="form-control rounded-1" name="FirstName" />
                    @Html.ValidationMessageFor(m => m.FirstName,"This field is required ", new { @class = "text-danger", style="font-size:10px;" })
                </div>
                <div class="mb-4">
                    <input type="text"  placeholder="Enter your Last Name" class="form-control" name="LastName" />
                    @Html.ValidationMessageFor(m => m.LastName, "This field is required ", new { @class = "text-danger", style = "font-size:10px;" })

                </div>
                <div class="mb-4">
                    <input type="text"  placeholder="Enter your User Name" autocomplete="off" class="form-control" name="UserName" />
                    @Html.ValidationMessageFor(m => m.UserName, "This field is required ", new { @class = "text-danger", style = "font-size:10px;" })

                </div>
                <div class="mb-4">
                    <input type="text"   placeholder="Enter your Email" class="form-control" name="Email" />
                    @Html.ValidationMessageFor(d => d.Email,"Please enter the valid email address",new { @class = "text-danger", style="font-size:10px;"})
                </div>
                <div class="mb-4">
                    <input type="password" autocomplete="off" placeholder="Enter your Password" class="form-control" name="Password" />
                    @Html.ValidationMessageFor(d => d.Password, "Please enter the valid email address", new { @class = "text-danger", style = "font-size:10px;" })

                </div>
                <div class=" mb-4">
                    <input type="checkbox" value="True" name="Status" /> Please check the if active
                </div>
                <div class="mb-4">
                    <input type="submit" class=" btn btn-primary" value="Register" />
                    <p>Already have not account ? <span class="text-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLogin" style="cursor:pointer;">Login</span></p>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Login Modal-->
<div class="modal fade mt-5" id="exampleModalLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog p-5">
        <div class="modal-content">
            <div class="modal-body p-4">
                <p class="text-center fs-3 text-primary">Login <b>Here <i class=""></i></b></p>
                <form method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control"  name="UserName" placeholder="Enter your UserId">
                    </div>
                    <div class="input-group mb-3">

                        <input type="password" class="form-control"  name="Password" placeholder="Enter your password">
                    </div>
                    <button type="submit" class="btn btn-outline-primary w-100">Login</button>
                    <a href="/account/index"><p>Already have an account ? <span class="text-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLogin" style="cursor:pointer;">Regsiter</span></p></a>
                </form>
            </div>
        </div>
    </div>
</div>

